/* start layout */

body {
    background: linear-gradient(to right, silver, lightslategray);
}

/* end layout */

/* start Error page */
.ErrorPage{
    background: linear-gradient(to right, mediumpurple, indianred, cadetblue);
}

.ErrorInfo {
    text-align: center;
}
.ErrorInfo h1 {
    font-size: 10rem;
    color: white;
}
.Errorcode {
    font-size: 10rem;
    color: white;
}
/* end Error page */

/* start login/register */

.login-title {
    font-size: 3.2rem;
    line-height: 3.2rem;
    font-weight: 700;
    color: white;
    align-items: flex-start;
}

.login-title {
    flex-grow: 1;
    flex-basis: 100%;
    margin-top: 1.1rem;
}

.button-password {
    border: none;
    position: absolute;
    right: 0;
    top: 2.7rem;
    height: 3.5rem;
    width: 5.2rem;
    background: transparent;
    padding: 0;
}

.button-password .button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    font-weight: 700;
}

button, input {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.button {
    width: 100%;
    border: none;
    border-radius: 3.5px;
    background: #0b5ed7;
    color: white;
    height: 4.1rem;
    padding: 0 1rem;
    position: relative;
    z-index: 1;
    transition: background .3s cubic-bezier(.25, .8, .25, 1), box-shadow .3s cubic-bezier(.25, .8, .25, 1);
}

.form-login {
    padding-top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

/* end login/register */

/* start table layout */

.table {
    border: 2px solid black;
    background-color: floralwhite;
}

/* end table layout */

/* start form select */

.form-select + .form-select {
    margin-left: 10px;
}

/* end form select */

/* start category */

/* Ensuring the same card size for all items */
.product-list .col {
    display: flex;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 15px;
}

.product-list .book-card {
    flex: 1;
}

.product-list .book-card .card-body {
    height: 100%;
    width: 100%;
}

.product-list .book-card .product-img-box {
    max-height: 300px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.product-list .book-card .product-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.product-list .book-card .book-title {
    margin: 20px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
    text-align: center;
}

.product-list .book-card .btn-primary {
    margin-top: auto;
    align-self: center;
}


/* end category */

/* start infoLineValue */

.infoLineValue{
    font-size: 1.2em;
    text-align: left;
}

/* end infoLineValue */

/* start edit page fix */

input.infoLineValue, select.infoLineValue, textarea.infoLineValue {
    background-color: white;
    color: black;
    border-width: 1px;
    margin: -2px;
}

/* end edit page fix */


/* */

.product-list .book-card {
    height: 450px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.product-list .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.product-list .product-img-box {
    flex-shrink: 0;
    width: 100%;
    max-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-list .product-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.product-list .book-title {
    margin: 20px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
    text-align: center;
}

.product-list .btn-primary {
    margin-top: auto;
}


/* */

.favoriteIcon, .editIcon {
    width: 40px;
    height: 40px;
}

.icon-container {
    display: inline-flex;
    align-items: center;
}

.icon-container .editIcon, .icon-container .favoriteIcon {
    margin-right: 10px; /* Adjust as needed */
}

.btn-link {
    padding: 0;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    margin-bottom: 0;
}



/* */

.book-card-4 .list-details {
    display: table-cell;
    vertical-align: middle;
    font-weight: 600;
    color: #223035;
    font-size: 15px;
    line-height: 15px;
}

.book-card-4 .list-details small{
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 400;
    color: #808080;
}
/* */

.detail-image {
    max-height: 430px;
    max-width: 600px;
}

/* */
/* */

.product-edit-img {
    max-height: 330px;
    max-width: 500px;
}

/* */

