/* start layout */

body {
    background: linear-gradient(to right, mediumseagreen, darkseagreen);
}

/* end layout */

/* start Error page */
.ErrorPage{
    background: linear-gradient(to right, mediumpurple, indianred, cadetblue);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ErrorInfo {
    text-align: center;
}
.ErrorInfo h1 {
    font-size: 10rem;
    color: white;
}
.Errorcode {
    font-size: 10rem;
    color: white;
}
/* end Error page */

/* start center cards */

.containerCard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

/* end center cards */

/* start Show Amount of Books */

.card-one {
    background-image: linear-gradient(to right, mediumpurple, cadetblue);
    border: 2px solid black;
    width: 200px;
    height: 100px;
}

/* end Show amount of books */

/* start Show amount of active loans */

.card-two {
    background-image: linear-gradient(to right, darkcyan, cadetblue);
    border: 2px solid black;
    width: 200px;
    height: 100px;
}

/* end Show amount of active loans */

/* start Show amount of expired loans */

.card-three {
    background-image: linear-gradient(to right, coral, lightsalmon);
    border: 2px solid black;
    width: 200px;
    height: 100px;
}

/* end Show Amount of expired loans */

/* start card layout */

.card-title, .card-text {
    color: white;
    font-size: 1.5rem;
    text-align: right;
}

/* end card layout */

/* start layout table */

.thead {
    border: 1px solid black;
}

/* end layout table */

/* start table layout */

.TableBooks {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* start table layout */

.table {
    border: 2px solid black;
    background-color: floralwhite;
}

/* end table layout */

/* start img */

.img-fluid {
    width: 193px;
    height: 278px;
}

/* end img */

/* start breadcrumbs */

.breadcrumbs {
    margin-bottom: 20px;
}

/* end breadcrumbs */

/* start Library title */

.LibraryTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* end Library title */

/* start col 8 */

.col-8 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.col-8 h6 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}
.col-8 h6 span {
    margin-left: 10px;
}

.col-8 h6 span.label {
    display: inline-block;
    min-width: 100px;
    margin-right: 10px;
}

/* end col 8*/

/* start review */
.comments {
    margin-bottom: 20px;
}

/* end review */

/* start oneFilter  */

.oneFilter {
    display: inline-flex;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}

/* end oneFilter */

/* start form select */

.form-select + .form-select {
    margin-left: 10px;
}

/* end form select */


/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */

