<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" media="all"
      th:href="@{/css/style.css}" href="style.css" />
<head>
    <meta charset="UTF-8">
    <title>Author Details</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-10">
            <div class="breadcrumbs">


                <h1 th:text="${author.authorName()}" style="margin-top: 10px"></h1>
            </div>
            <div class="col-8">
                <h6>Author name: <span th:text="${author.authorName()}"></span></h6>
                <h6>Author surname: <span th:text="${author.surname()}"></span></h6>
                <h6>Author country: <span th:text="${author.country()}"></span></h6>
                <h6>Author bio: <span th:text="${author.bio()}"></span></h6>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>