<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Schrijver detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/css/style.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items center">
                <h3 th:text="${author.author_name} + ' ' + ${author.surname}" class="card-title mb-0"></h3>
            </div>
            <h6 th:text="${author.country}" class="card-subtitle text-muted"></h6>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="mt-2">
                        <img class="product-img" src="https://placehold.co/430x600" alt="Author cover">
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4>Biografie</h4>
                    <p th:text="${author.bio}"></p>
                    <h4 class="mt-4">Boeken geschreven</h4>
                    <div class="card mb-4">
                        <div class="car-body">
                            <div>
                                <div th:each="book : ${author.books}">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h5 th:text="${book.title}" class="card-title mb-0"></h5>
                                                <a th:href="@{|/BookDetails/${book.id}|}" class="btn btn-primary">Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}">footer</div>

</body>
</html>