<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" media="all"
      th:href="@{/css/style.css}" href="style.css" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Book Categories</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <h1>Book Categories</h1>
        <div class="col-sm-4 w-auto p-3">
            <div class="card card-category">
                <div class="card-body">
                    <h5 class="card-title title-manga">Manga</h5>
                    <p class="card-text">Total books: <span th:text="${mangaCount}"></span></p>
                    <div th:each="category : ${categories}">
                        <a th:if="${category.category == 'Manga'}" th:href="@{/categorydetails/{id}(id=${category.id})}" class="btn btn-primary" th:text="${category.category}"></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-4 w-auto p-3">
            <div class="card card-category">
                <div class="card-body">
                    <h5 class="card-title title-lightnovel">Light Novel</h5>
                    <p class="card-text">Total books: <span th:text="${lightNovelCount}"></span></p>
                    <div th:each="category : ${categories}">
                        <a th:if="${category.category == 'Light Novel'}" th:href="@{/categorydetails/{id}(id=${category.id})}" class="btn btn-primary" th:text="${category.category}"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 w-auto p-3">
            <div class="card card-category">
                <div class="card-body">
                    <h5 class="card-title title-manhwa">Manga</h5>
                    <p class="card-text">Total books: <span th:text="${manhwaCount}"></span></p>
                    <div th:each="category : ${categories}">
                        <a th:if="${category.category == 'Manhwa'}" th:href="@{/categorydetails/{id}(id=${category.id})}" class="btn btn-primary" th:text="${category.category}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>