<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Profiel pagina</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/css/style.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div th:replace="~{fragments/header :: header}">Header</div>

<div class="container">
    <div class="row">
        <nav class="nav nav-borders">
            <a class="nav-link active ms-0" th:href="@{/profielPagina}" th:text="${appUser.firstName}"></a>
            <a class="nav-link" th:href="@{/gegevensPagina}">Profiel</a>
        </nav>
        <hr class="mt-0 mb-4">
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-header">Uitgelezen boeken
                    <a th:href="@{/readBooksPage}" class="btn btn-primary float-end">Bekijk uitgelezen boeken</a>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <div th:each="book, iterStat : ${readBooks}">
                            <div th:if="${iterStat.count <= 3}" class="card mb-3">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 th:text="${book.title}" class="card-title mb-0"></h5>
                                        <div class="icon-container">
                                            <form th:action="@{/removeReadFromProfile/{id}(id=${book.id})}" method="post" style="display: inline;">
                                                <button type="submit" class="btn btn-link p-0">
                                                    <img th:src="@{'https://firebasestorage.googleapis.com/v0/b/bibliotheek-fedaf.appspot.com/o/images%2Futil%2Feye.png?alt=media&token=7e0a920e-53f8-4ec2-afa5-4694771edb9f'}"
                                                         alt="Remove from read" class="readIcon"/>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:if="${#lists.size(readBooks) > 3}">
                            <p>Er zijn meer uitgelezen boeken. Klik op "Bekijk uitgelezen boeken" om ze allemaal te zien.</p>
                        </div>
                        <div class="row mt-4" th:unless="${readBooks.size() > 0}">
                            <div class="col">
                                <div class="alert alert-info" role="alert">
                                    <h4 class="alert-heading">Geen uitgelezen boeken gevonden</h4>
                                    <p>Voeg boeken toe aan je uitgelezen boeken om ze hier te zien.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">Favoriete boeken
                    <a th:href="@{/favoritePage}" class="btn btn-primary float-end">Bekijk favorieten</a>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <div th:each="book, iterStat : ${favoriteBooks}">
                            <div th:if="${iterStat.count <= 3}" class="card mb-3">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 th:text="${book.title}" class="card-title mb-0"></h5>
                                        <div class="icon-container">
                                            <form th:action="@{/removeFavoriteFromProfile/{id}(id=${book.id})}" method="post" style="display: inline;">
                                                <button type="submit" class="btn btn-link p-0">
                                                    <img th:src="@{'https://firebasestorage.googleapis.com/v0/b/bibliotheek-fedaf.appspot.com/o/images%2Futil%2Fstar-filled.png?alt=media&token=d90bd971-095c-4883-b97c-c2bccce5c1e7'}"
                                                         alt="Remove from favorites" class="favoriteIcon"/>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:if="${#lists.size(favoriteBooks) > 3}">
                            <p>Er zijn meer favorieten. Klik op "Bekijk favorieten" om ze allemaal te zien.</p>
                        </div>
                        <div class="row mt-4" th:unless="${favoriteBooks.size() > 0}">
                            <div class="col">
                                <div class="alert alert-info" role="alert">
                                    <h4 class="alert-heading">Geen favoriete boeken gevonden</h4>
                                    <p>Voeg boeken toe aan je favorieten om ze hier te zien.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header">Profiel</div>
                <div class="card-body">
                    <div class="mb-3">
                        <p>Gebruikersnaam: <span th:text="${appUser.username}"></span></p>
                    </div>
                    <div class="mb-3">
                        <p>Voornaam: <span th:text="${appUser.firstName}"></span></p>
                    </div>
                    <div class="mb-3">
                        <p>Achternaam: <span th:text="${appUser.surname}"></span></p>
                    </div>
                    <div class="mb-3">
                        <p>Email: <span th:text="${appUser.email}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}">footer</div>

</body>
</html>