<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" media="all"
      th:href="@{/css/style.css}" href="style.css" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>User details</title>
</head>
<body>
<div class="container" style="background: lightcyan;">
    <div class="row">
        <div class="breadcrumbs">
            <a th:href="@{/homepage}" th:class="${currentPage == 'homepage'} ? 'current-page' : ''">Home</a>
            / <span th:class="${currentPage == '/UserDetails' ? 'current-page' : ''}" th:text="${webUser.getUsername()} + ' ' + ${webUser.getSurname()}"></span>
            <h1 th:text="${webUser.getUsername()} + ' ' + ${webUser.getSurname()}"></h1>
        </div>
        <div class="col-8">
            <h6><span class="label">Username:</span><span th:text="${webUser.getUsername()}"></span></h6>
            <h6><span class="label">Surname:</span><span th:text="${webUser.getSurname()}"></span></h6>
            <h6><span class="label">Email:</span><span th:text="${webUser.getEmail()}"></span></h6>
            <h6><span class="label">User role:</span><span th:text="${webUser.getUser_role()}"></span></h6>
        </div>
        <div class="PrevAndNextButton" style="margin-top: 30px">
            <a class="btn btn-primary" th:href="@{|/UserDetails/*{id}/prev|}">Previous</a>
            <a class="btn btn-primary" th:href="@{|/UserDetails/*{id}/next|}">Next</a>
        </div>
    </div>
</div>
</body>
</html>